
#container{
    display: flex;
    height: 500px;
    width: 90%;
    margin: auto;
}
h2{
    font-family:"Graphik Web","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    width:25% ;
    text-align: center;
    margin-top: 5%;
    font-size: 25px;
    margin-left: 50px;
}

#container div{
    width: 42%;
    height: 100%;
    margin: auto;
}
#method{
    height: 200px;
    width: 100%;
    /* border: 1px solid blue; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#method>div:nth-child(1){
    display: flex;
    height: 20px;
    width: 60%;
    height: 50px;
    float: left;
}
#method>div:nth-child(2){
    float: left;
    width: 100%;
}
#method>div:nth-child(1) div{
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    margin-left: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#dot{
    margin-top: 15px;
    color:#0075ff ;
}
img{
    height: 35px;
    width: 100%;
}

h5+input{
    width:80%;
    height: 40px;
    font-size: 15px;
}
#code{
    margin-left: 50%;
    margin-top: -100px;
}
#code div{
    width: 100%;
    float: left;
    display: flex;
}
h4+input{
    width:80%;
    height: 40px;
    font-size: 15px;
}
#process{
    font-family: "Graphik Web","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #f6f6f4 ;
}
#process h2{
    width: 50%;
}

select{
    border:none;
    color: #0075ff;
    font-size: 15px;
    background-color: #f6f6f4  ;
}

#i{
    margin-left: 150px;
}
.p{
    margin-left: 50px;
}
button{
width: 70%;
margin-left: 50px;
height: 40px;
background-color: #007c89;
border: none;
color: white;
margin-top: 20px;
}
