
        body{
            margin:0px;
            font-family: Graphik Web,Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;
            padding:0px;
            
        }
        h1{
            font-family: Means Web,Georgia,Times,Times New Roman,serif;
            font-size: 35px;
        }
        .turn_emails_div{
            width: 58%;
            text-align: center;
            margin: auto;
            padding-top: 150px;
            font-size: 20px;
        }
        .turn_emails_revenue{
            font-weight: 300;
            font-family: Means Web,Georgia,Times,Times New Roman,serif;
            color: #241c15;
            letter-spacing: -.0625rem;
            font-size: 50px;
            margin-bottom: -20px;
            
        }
        .win_new_customers{
            font-family: Graphik Web,Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;
            letter-spacing: -.02rem;
            color: #241c15;
            line-height: 1.5;
            font-weight: 400;
            font-size: 24px;
        }
        .button{
            width:120px;
            height: 50px;
            border-radius: 50px;
            background-color: rgb(255,224,27);
            border: 1px solid black;
            cursor: pointer;
           
        }
        .sign_up:hover{
            
            transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        }

        /* image box */
        .convert_with_animation{
            width: 99%;
            display: flex;
            grid-template-columns: repeat(4,1fr);
            
        }
       
        a{
            text-decoration: none;
        }
        .convert_automation{
            position: relative;
            bottom:-100px;
            padding-left: 40px;
            
            color:black;
            text-decoration: none;
            z-index: 1;
        }
        
        .convert_automation:hover{
            text-decoration: underline;
        }
        .image_div{
            overflow: hidden;
            transition: transform 1.1s; /* Animation */
            width:335px;
            height: 490px;
            /* border: 1px solid red; */
        }

        .four_image{
           
            width: 100%;
           
        }
        .four_image:hover{
            transform: scale(1.09);
        }
        
        .send_the_right1 ,.send_the_right2,.send_the_right3,.send_the_right4{
            padding: 30px;
            font-size: 18px;
            /* font-weight: 200; */
            
            line-height: 25px;
            word-spacing: 1px;
            height: 150px;
            background-color:rgb(217,149,54) ;
        }
        .send_the_right2{
            background-color: rgb(231,183,95);
        }
        .send_the_right3{
            background-color: rgb(253,248,234);
        }
        .send_the_right4{
            background-color: rgb(255,255,255);
        }

        .image_section{
            /* height:250px; */
            width:100%; 
            /* margin-bottom: 80px; */
            background-color: black;
            /* border: 1px solid red;  */
            color:white;
        }
        .email_marketing_image{
            width: 70%;
            margin: auto;
        }
        .email_marketing_image>img{
            width: 100%;
            margin-top: 80px;
            margin-bottom: 30px;
        }
        #para_div_image{
            font-size: 24px;
            width: 60%;
            margin: auto;
            text-align: center;
            word-spacing: 1px;
            line-height: 32px;
            padding-bottom: 50px;
            
        }
        .right_plan_section{
            margin-top: -25px;
            background-color: rgb(246,246,244);
            width: 100%;
        }
        .right_plan_section>div{
            width:90%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            background-color: white;
        }
        .right_plan_section>div:last-child{
            border-right: 1px solid grey;
        }
        
        .mail_champ{
            border: 1px solid gray;
            padding: 20px;
            color:#000000;
            border-right: none;
            height:850px;
            
        }
        .mail_champ>h1{
           font-family: Means Web,Georgia,Times,Times New Roman,serif;
           font-size: 20px;
           font-weight: 0;
        }
        .mail_champ>p{
            font-size: 14px;
            line-height: 25px;
            word-spacing: 2px;
            
        }
        
        .mail_champ:hover{
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        .price_des{
            color: rgb(170, 165, 165);
        }
        li{
            /* text-decoration:underline; */
            line-height: 25px;
            list-style-type: none;
        }
        .right{
            padding-right: 20px;
            text-decoration: none;
            margin-left: -35px;
        }
        .wrong{
            color:rgb(175, 172, 172)
        }
        .see_all_plan_details_button{
            width: 200px;
            height: 60px;
            margin: auto;
            /* border: 1px solid red; */
        }
        .averages{
            background-color: rgb(246,246,244);
            padding-top: 20px;
            padding-bottom: 50px;
        }
        .Customer_Journey_Builder_automations{
            width: 670px;
            margin:70px  auto;
            text-align: center;
        }
        .learn_more{
            width: 115px;
            display: flex;
            padding: 10px;
            border-radius: 50px;
        }
        .learn_more:hover{
            background-color: yellow;
        }
        .convert_more_customers{
            width: 100%;
            background-color: black;
            display: flex;
            height: 350px;
            /* border:1px solid green; */
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .convert_more_customers>div{
            width: 30%;
            background-color: white;
            margin: auto;
            /* border: 1px solid red; */
            padding: 50px;
            line-height: 25px;
            word-spacing: 2px;
        }
        .customers_ingagement{
            width: 100%;
            /* height: 750px;
            border: 1px solid red; */
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
        .customers_ingagement_div{
            background-color: rgb(231,183,95);
            padding-left: 50px;
            padding-right: 80px;
            margin-bottom: 4px;
        }
        
        .mobile_image>img{
            width: 100%;
            /* height: 760px; */
        }
        .more_growth{
            margin-left: 80px;
            width: 600px;
            margin-top: 80px;
        }


        .canvas_section{
            width: 90%;
            margin:auto;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            margin-bottom: 10px;
        }
        .canvas{
            display: flex;
            gap:20px;
            padding: 20px;
            font-size: 14px;
            line-height: 25px;
            word-spacing: 2px;
            color: black;
            padding-bottom: 7px;

        }
        .canvas>div>img{
            width: 100px;
        }
        .canvas>div:last-child>h2{
            margin-top: 0px;
            margin-bottom: -10px;
            font-size: 18px;
        }
       
        .canvas:hover{
            background-color: rgb(209, 209, 216);
        }

        .integrations{
            width: 260px;
            margin-left: 80px;
            margin-top: 50px;
            margin-bottom: 50px;
            color: black;
            font-size: 20px;
            padding: 10px;
        }
        .integrations:hover{
            background-color: yellow;
            border-radius: 50px;
           
        }
        .disclaimers{

            width: 100%;
            background-color: rgb(246,246,244);
            padding-bottom: 30px;
        }
        .disclaimers>ul{
            padding-top: 50px;
            
            
        }
        .disclaimers>ul>li{
            font-size: 12px;
            list-style-type:decimal;
        }