#container {
  display: flex;
}
form {
  width: 10%;
}
*{
    color: black;
    outline-color: initial;
    font-family: "Means Web",Georgia,Times,"Times New Roman",serif;
}
.padd-input {
    min-height: 46px;
    font-size: 1.7rem;
    line-height: 20px;
    padding: 0 15px;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
}
.sky-blue {
  color: #4296cb;
  border-bottom: 1px solid #4296cb;
}
#message {
  display: none;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  line-height: 24px;
}
.signup-block {
  padding: 50px;
  align-items: center;
}
.marg-input {
  margin-bottom: 30px;
  box-sizing: border-box;
}
.padd-input {
  min-height: 46px;
  font-size: 1.7rem;
  line-height: 20px;
  padding: 0 15px;
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
.signup-btn {
  width: 335px;
  background-color: #4296cb;
  font-size: 20px;
  padding: 10px;
  border: 0;
}